.product-wrapper {
  background-color: white;
  padding: 2rem;
}

.add-product-wrapper {
  background-color: white;
  padding: 2rem;
}

.product-detail-wrapper {
  background-color: white;
  padding: 2rem;
}

.product-edit-wrapper {
  background-color: white;
  padding: 2rem;
}
