.header_top {
  background-color: transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  a.logo{
    text-decoration: none;
  }
}

.header_nav {
  background-color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-bottom: 2px solid;
}
